.top-image {
  margin-top: 10px;
  height: 70%;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.more-img {
  float: right;
  max-height: 40px;
  margin-top: 10px;
  margin-right: 8px;
}

.bottom-container {
  margin-left: 10px;
}

.bottom-container h3 {
  margin-top: 10px;
  margin-bottom: 6px;
}

.bottom-container p {
  margin: 2px;
}

.game-img {
  display: block;
  max-width: 130px;
  max-height: 95px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}
