

.top-image {
  margin-top: 10px;
  height: 70%;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.bottom-container {
  margin-left: 10px;
}

.bottom-container h3 {
  margin-top: 10px;
  margin-bottom: 6px;
}

.bottom-container p {
  margin: 2px;
}