.char-info {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.image-container {
    padding-left: 100px;
    width: auto;
}

.image-container img {
    width: 100%;
}

.char-details {
    width: 45vw;
}